:root {
    --main-color: white;
    --font-color: #111111;
    --secondary-color: #f5f5f5;
    --font: 'helvetica', sans-serif;
    --hover-color: rgb(156, 154, 154);
    --br: 30px;
    --medium-grey: #7E7E7E;
    --pagination-color: #393846;
}   
 
   

/* min-width 1080-ზე */
/* Header */
/* upper header */
@media screen and (min-width: 1080px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
}
    .upper-header {
        max-width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;
    }
    .bg-light-up {
        background-color: var(--secondary-color);
        
    }
    .upper-header-links {
        display: flex;
        align-items: center;
        padding-top: 9px;
    }
    header div ul  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }
    header div ul li {
        list-style: none;;
    }
    header div ul li a {
        text-decoration: none;
        color: var(--font-color);
        font-family: var(--font);
        font-size: 12px;
    }
    .light {
        color: var(--font-color);
    }
    .line {
        padding-top: 5px;
    }
    .upperLogo {
        cursor: pointer;
    }
}
/* Header Scrolled */ 
@media screen and (min-width: 1080px) {
    .upper-header.scrolled {
        background-color: black !important;
    }
    .upper-header.scrolled a {
        color: var(--main-color)!important;
    }
    .bg-black {
        background-color: #111111;
        color: var(--main-color);
}
}
/* Lower header */
@media screen and (min-width: 1080px) {
    .lower-header {
        max-width: 100%;
        height: 60px;
        background-color: var(--main-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }
    .nav-bar1 {
        display: flex;
        align-items: center;
        padding-top: 18px;
        padding-left: 120px;
    }
    .nav-bar1 ul li a {
        position: relative;
        text-decoration: none;
        color: var(--font-color);
        font-family: var(--font);
        font-size: 16px;
        font-weight: 500;    
    }
    .nav-bar1 ul {
        display: flex;;
        gap: 24px;
    }
    .nav-bar1 ul li a::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: black; 
        transition: 0.3s ease;
    }
    .nav-bar1 ul li a:hover::after {
        width: 100%;
}
    .search-wrapper {
        display: flex;
        align-items: center;
        width: 180px;
        height: 40px;
        background-color:var(--secondary-color);
        border: none;
        border-radius: 100px;
        overflow: hidden;
    }
    .searching-input {
        flex: 1;
        outline: none;
        background-color: transparent;
        border: none;
        color: #CCCCCC;
        font-size: 16px;
        font-family: var(--font);
        overflow-x: auto;
        white-space: nowrap; 
        text-overflow: ellipsis; 
        padding-left: 50px;
    }
    .searching-input:focus {
        outline: none; 
        box-shadow: none; 
        border-color: #CCCCCC; 
}
    .search-icon {
        border-radius: var(--br);
        background-color:var(--secondary-color);
        position: fixed;
        top: 50px;
        min-width: 40px !important;
        height: 36px !important;
        display:block;
        object-fit: contain;
      
        flex-shrink: 0;
        z-index: 999;
      
    }
    
    .button1 {
        background-color: transparent;
        cursor: pointer;
        border: none;   
    }
    .icons {
        display: flex;
        gap: 5px;
}
    .love-icon, .bag-icon {
        cursor: pointer;
}
    .mainLogo {
        cursor: pointer;
}
}
/* section 1 */
@media screen and (min-width: 1080px) {
    .section1 {
        padding:0 50px;
    }
    .main-photo {
        padding-top: 100px;
        width: 100%;
    }
    .text-section1 {
        text-align: center;
        padding-top: 48px;

    }
    h1 {
        font-family: var(--font);
        font-size: 54px;
        font-weight: 700;
        color: var(--font-color);
    }
    .section1-p {
        font-family: var(--font);
        font-size: 16px;
        color: var(--font-color);
        padding-top: 24px;
    }
    .section1-btn {
        width: 152px;
        height: 39px;
        background-color: black;
        color: var(--main-color);
        border: none;
        border-radius: var(--br);
        font-family: var(--font);
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 30px;
    }
    .section1-btn:hover {
        background-color: var(--main-color);
        color: var(--font-color);
        border: 1px solid black;
        transition: 0.3s;
    }
}
/*Filter Section */
@media screen and (min-width: 1080px) {
    .filter-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 51px;
        width: 100%;
        padding: 0 48px 25px 48px;
    }
    .totals {
        font-family: var(--font);
        font-size: 24px;
        font-weight: 550;
    }
    .hide, .sort {
        margin: 0;
        font-family: var(--font);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .filter-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 225px;
    }
    .filtering, .sorting{
        text-align: center;
        align-items: center;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
}
/* Aside*/
@media screen and (min-width: 1080px) {
    .aside {
        padding-left: 48px;
    }
    .categories p {
        cursor:pointer;
        
    }
    .categories p:hover {
        color: var(--hover-color);
        transition: 0.3s;
}
    h5 {
        font-family: var(--font);
        font-size: 16px;
        font-weight: 600;
        color: var(--font-color);
}
    .filter-section-block {
        border-top: 1px solid #e5e5e5;
        padding-top: 16px;
        margin-top: 16px;
}
}
/* Products section + Pagination */
@media screen and (min-width:1080px) {
/* Pagination Hover, Active, Focus */
    .pagination .page-link {
        font-size: 18px;
        color: var(--font-color);
        padding: 12px 20px;
        border-radius: 2px;
        transition: all 0.2s ease;
}
    .pagination .page-link:hover {
        background-color: #f0f0f0;
        color: var(--pagination-color);
}
    .pagination .page-item.active .page-link {
        background-color: #393846;
        color: var(--main-color) !important;
        border-color: var(--pagination-color);
}
    .pagination .page-link:focus {
        box-shadow: none;
        outline: none;
}
    .card {
        border: none;
}
    .card-footer {
        border: none;
        background-color: transparent;
}

  /* Product page */
    .product-row {
        margin: 120px 120px;
        padding-top: 60px;
 }
    .img-fluid {
        max-width: 666px;
        height: auto;  
}
    .product-title {
        margin-left: 80px;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
}
    .product-description {
        margin-left: 80px;
        font-size: 18px;
        color: #555;
        margin-bottom: 24px;
}
    .product-price {
        margin-left: 80px;
        font-size: 18px;
        color: black;
        font-weight: 600;
} 
    .bag-btn, .favorite-btn {
        margin-left:80px;
        border-radius: var(--br); 
        width: 376px;
        height: 60px;
        font-family: var(--font);
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
}
    .bag-btn {
        margin-top: 30px;
        background-color: black;
        color: var(--main-color);
        border: none;
}
    .favorite-btn {
        margin-top: 15px;
        background-color: var(--main-color);
        color: black;
        border: 1px solid rgb(162, 161, 161);
}
    .bag-btn:hover {
        background-color: var(--medium-grey);
        transition: 0.3s;
}
    .favorite-btn:hover {
        border: 1px solid black;
        transition: 0.3s;
}
}
/* Section-last */
@media screen and (min-width: 1080px) {
    .section-last {
        margin-top: 120px;
        text-align: center;
        padding: 24px 45px;
    }
    h3 {
        font-family: var(--font);
        font-size: 52px;
        font-weight: 500;
        color: var(--font-color);
    }
    .section-last-p {
        font-family: var(--font);
        font-size: 15px;
        font-weight: 400;
        color: var(--font-color);
    }
    .p-button {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .last2 {
        font-size: 23px;
        font-family: var(--font);
        font-weight: 500;
        color: var(--font-color);
        display: flex;
        justify-content: left;
        padding-left: 10px;
        
    }
    .shop {
        background-color: black;
        color: var(--main-color);
        width: 80px;
        height: 39px;
        border: none;
        border-radius: var(--br);
        font-family: var(--font);
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 30px;
    }
    .shop:hover {
        background-color: var(--main-color);
        color: black;
        border: 1px solid black;
        transition: 0.3s;
    }
    

}
/* Footer */
/* Upper Footer */
@media screen and (min-width:1080px) {
    footer {
        background-color: black;
        height: 331px;
        width: 100%;
    }
    .upper-footer {
        display: flex;
        justify-content: space-between;
        padding: 40px 36px 0 36px;
    }
    .left-side {
        display: flex;
    }
    .left-side div ul li {
        list-style: none;
        line-height: 30px;
    }
    .first-column ul li a {
        text-decoration: none;
        color: var(--main-color);
        font-family: var(--font);
        font-size: 10px;
        font-weight: 400;
        cursor: pointer;
    }
    .second-column ul li a {
        text-decoration: none;
        color: var(--medium-grey);
        font-family: var(--font);
        font-size: 12px;
        font-weight: 400; 
        cursor: pointer;     
    }
    .third-column ul li a {
        text-decoration: none;
        color: var(--medium-grey);
        font-family: var(--font);
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;   
    }
    .first-column ul, .second-column ul, .third-column ul {
        padding: 0;
    }

    .first-column {
        margin-right: 160px;
    }
    .second-column { 
        margin-right: 60px;
    }
    .right-side {
        display: flex;
        gap: 16px;
    }
    h4 {
        color: var(--main-color);
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: var(--font);
        cursor: pointer;
    }

/* Lower Footer */
    .lower-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        width: 100%;
        padding: 0 36px;
}
    .left-low {
        display: flex;
}
    .right-low {
        display: flex;
        gap: 27px;
}
    .right-low a {
        text-decoration: none;
        font-family: var(--font);
        font-size: 12px;
        color: var(--medium-grey);
        font-weight: 400;
        cursor: pointer;
        
}
    .copyright {
        color: var(--medium-grey);
        font-family: var(--font);
        font-size: 12px;
        font-weight: 400;
}
    .location {
        color: var(--main-color);
        font-family: var(--font);
        font-size: 12px;
        font-weight: 400;
        padding-left: 8px;
        padding-right: 24px;
        cursor: pointer;    
}
    .location-icon {
        cursor: pointer;
    }
}
